@inherits InputText
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="@Id" placeholder="@Label" @bind="CurrentValueAsString" />
    <label for="@Id">@Label</label>
</div>


