@inherits InputTextArea
<div class="form-floating mb-3">
    <textarea class="form-control text-zone" id="@Id" placeholder="@Label" @bind="CurrentValueAsString"></textarea>
    <label for="@Id">@Label</label>
</div>