@inherits InputText
<div class="form-floating mb-3">
    <input type="text" class="form-control datepicker_input" id="@Id" placeholder="@Label" @bind="CurrentValueAsString" @onblur="FocusOut">
    <label for="@Id">@Label</label>
</div>


